<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="A1" type="log4net.Appender.ConsoleAppender">

      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>

    <appender name="A2" type="log4net.Appender.AzureAppendBlobAppender, Log4net.Azure">

      <param name="ContainerName" value="testloggingblob"/>
      <param name="DirectoryName" value="logs"/>
      <param name="BufferSize" value="20"/>
      
      <!-- You can either specify a connection string or use the ConnectionStringName property instead -->
      <param name="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vmresourcegrp1diag723;AccountKey=3em/if9Q1wzlEyEAp4/EoDZax1e+a2d2cT0CAk3kGjZ8RSd0eJxeuT4/k55KBgmTpS/piTqJn0MXaBokN6ZtLA==;EndpointSuffix=core.windows.net"/>
      
      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>

    <appender name="A3" type="log4net.Appender.AzureTableAppender, Log4net.Azure">

      <param name="TableName" value="logTable"/>
      <param name="BufferSize" value="20"/>

      <!-- You can either specify a connection string or use the ConnectionStringName property instead -->
      <param name="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vmresourcegrp1diag723;AccountKey=3em/if9Q1wzlEyEAp4/EoDZax1e+a2d2cT0CAk3kGjZ8RSd0eJxeuT4/k55KBgmTpS/piTqJn0MXaBokN6ZtLA==;EndpointSuffix=core.windows.net"/>

      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="A1" />
      <appender-ref ref="A2" />
      <appender-ref ref="A3" />
    </root>
  </log4net>
</configuration>